<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs180.ucrtinder.ucrtinder" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- GCM -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- QR Code Scanner -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    <!-- insert photo -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- location access -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".Parse.YouWhoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Login activity -->
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- Facebook activity -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- Splash Screen activity -->
        <activity
            android:name=".ui.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main activity -->
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base" >
        </activity>
        <activity
            android:name=".ui.CardProfileActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_card_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base" >
        </activity>
        <activity
            android:name=".ui.ConversationActivity"
            android:label="@string/title_activity_matched_message"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base" >
        </activity>
        <activity
            android:name=".Messenger.AtlasMessagesScreen"
            android:label="@string/title_activity_matched_message"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base" >
        </activity>
        <activity
            android:name=".Messenger.AtlasConversationSettingsScreen"
            android:label="@string/title_activity_matched_message"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base" >
        </activity>
        <activity
            android:name=".Messenger.AtlasParticipantPickersScreen"
            android:label="@string/title_activity_matched_message"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base" >
        </activity>
        <activity
            android:name=".Messenger.AtlasImageViewScreen"
            android:label="@string/title_activity_matched_message"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base" >
        </activity>
        <activity
            android:name=".Messenger.AtlasQRCaptureScreen"
            android:label="@string/title_activity_matched_message"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base" >
        </activity>
        <activity
            android:name=".Messenger.AtlasLoginScreen"
            android:label="@string/title_activity_matched_message"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base" >
        </activity>

        <receiver
            android:name="com.layer.sdk.services.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <action android:name="com.google.android.c2dm.intent.REGISTER" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.layer.atlas.messenger" />
            </intent-filter>
        </receiver>

        <service android:name="com.layer.sdk.services.GcmIntentService" />

        <activity
            android:name=".ui.EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".ui.PreferencesActivity"
            android:label="@string/title_activity_preferences"
            android:theme="@style/AppTheme" >
        </activity>

        <service
            android:name=".Services.GeoLocationService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver
            android:name=".Receivers.StartupReceiver"
            android:enabled="true"
            android:exported="true" >

            <intent-filter>
                <action android:name="Action.MainActivity" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
